// 唯有按颜色分才能满足设计的‘规范’，因为你认为的和他们认为的差的很多。
@btnMinWidth: 96px;

.btnColor(@btnColor) {
  background-color: @btnColor;
  &:hover {
    background-color: darken(@btnColor, 4%);
  }
  &:active {
    background-color: darken(@btnColor, 8%);
  }
}
.plainBtnColor(@btnColor, @color) {
  background-color: #fff;
  color: @color;
  border: 1px solid @btnColor;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}
// 单个按钮
.ui-btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  background-color: @theme;
  border-radius: @borderRadius;
  &:not(.disabled) {
    .btnColor(@theme)
  }
  &-theme:not(.disabled) {
    .btnColor(@theme)
  }
  &-gray:not(.disabled) {
    color: @color;
    .btnColor(@btnBgGray)
  }
  // 带边框的按钮：朴素的按钮
  &-theme:not(.disabled)[plain] {
    .plainBtnColor(@theme,@theme)
  }
  &-gray:not(.disabled)[plain] {
    .plainBtnColor(@borderColor, @color)
  }

  &:not(.small-btn) { // 默认按钮宽度
    min-width: @btnMinWidth;
  }
  &.btn-small { // 小号按钮
    min-width: auto;
    line-height: 20px;
    padding: 2px 10px;
  }
  &.disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

// 按钮组
.ui-btn-group {

}