/*


*/

// text
.text-normal {
  color: @color;
}
.text-theme {
  color: @theme;
}
.text-red {
  color: @red; // require，error, warn
}
.text-tips {
  color: @textTips;
}
.text-secondary {
  color: @textSecondary;
}
.text-file {
  color: @textFile;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-hover-theme {
  &:hover {
    cursor: pointer;
    color: @theme;
  }
}
.text-disabled {
  cursor: not-allowed;
  opacity: .6;
}

// float
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-none {
  float: none;
}

// font size
.f-s-12 {
  font-size: 12px;
}
.f-s-14 {
  font-size: 14px;
}
.f-s-16 {
  font-size: 16px;
}
.f-s-18 {
  font-size: 18px;
}

// clear float
.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden
}
.clearfix:after {
  clear: both
}
.clearfix {
  zoom: 1
}

// scroll 滚动相关
.scroll-auto {
  overflow: auto;
}
.scrolling-touch { // 缓冲滚动
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

// 边线
.border-b {
  border-bottom: 1px solid @borderColor;
}
.border-r {
  border-right: 1px solid @borderColor;
}
.border-t {
  border-top: 1px solid @borderColor;
}
.border-l {
  border-left: 1px solid @borderColor;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.ellipsis-2 {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  word-break: break-all;
}

// 内联元素居中对齐
.ib-align_center {
  display: inline-block;
  vertical-align: middle;
}

//水平垂直居中
.middle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
}

//快速边距
.mt-12 {
  margin-top: 12px;
}
.mr-12 {
  margin-right: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.ml-12 {
  margin-left: 12px;
}

// 滚动条重置
::-webkit-scrollbar {
  overflow: visible;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border-color: #c2cbd0;
  border-width: 2px;
  border-style: solid;
  background-color:#c2cbd0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #98a1a8;
}

::-webkit-scrollbar-thumb:active {
  background-color: #748089;
}

::-webkit-scrollbar-corner {
  background: transparent;
}