@color: #3D464A;
@theme: #F59C25;
@themeHover: #FF9200;
@greed: #3eb78f;

@borderRadius: 4px;

/*





阿孟跟着小老头来到望魂谷谷底的山洞中，山洞中间有个巨大的五色晶石，
洞内被晶石的光芒照得很亮，山洞内还均匀分布着五条深不见底暗道。
“你看”，小老头道。
阿孟顺声一看，发现小老头的身上正慢慢显现出五条锁链，
他的四肢和腰部分别被这些锁链捆住，而锁链正是从五色晶石里延伸出的。
“虽然不能告诉你我是谁，但是若是你小子能帮我解开”





*/